---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <ul class="list-disc list-inside">
      </ul>
    </p>
    <p class="text-sm font-light">
    </p>
    <p class="text-sm font-light">
    </p>
  </div>
</Card>
